* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --mainColor: #ff512f;
}

*:focus {
  outline: none;
}

.landingPage {
  color: var(--mainColor);
  background-color: #ffffffe3;
  padding: 10px 30px;
  margin: auto;
  border: 2px solid #ff512f;
  text-align: center;
  border-radius: 15px;
  max-width: 700px;
}

.landingPage h2 {
  font-size: 2.7em;
  text-align: center;
}

.landingPage p {
  text-align: center;
  font-size: 1.1em;
}

.usersName {
  text-align: center;
}
input {
  outline: none;
  border: 1px solid #ff512f;
  color: #4e4e4e;
  margin: 20px 15px;
  padding: 5px 20px;
  background: aliceblue;
  border-radius: 20px;
}
.Input {
  font-size: 20px;
}
.Social {
  font-size: 18px;
  max-width: 300px;
  margin-bottom: 20px;
}
#userSocialMedia p {
  text-align: left;
  margin-bottom: 10px;
}
.SocialInputs {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#goButton {
  margin: 20px 0;
}
button {
  cursor: pointer;
  background: #ff512f;
  color: white;
  outline: none;
  padding: 7px 20px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.error {
  font-weight: 200;
  font-size: 25px;
  animation: popUp 0.5s linear alternate;
  animation-iteration-count: 3;
  text-transform: capitalize;
}
@keyframes popUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 600px) {
  .SocialInputs {
    flex-direction: column;
    height: auto;
  }
}
