* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --mainColor: #ff512f;
}

*:focus {
  outline: none;
}

.landingPage {
  color: var(--mainColor);
  padding: 10px;
  margin: auto;
  border: 2px solid #ff512f;
  text-align: center;
  border-radius: 20px;
}

.landingPage h2 {
  font-size: 2.7em;
  text-align: center;
}

.landingPage p {
  text-align: center;
  font-size: 1.1em;
}

.usersName {
  text-align: center;
}

#userSocialMedia section,
#userSocialMedia p {
  text-align: left;
}

/* @media(max-width:600px) {
  .landingPage {}
} */
